	# Set the default behavior, in case people don't have core.autocrlf set.
	* text=auto

	# Explicitly declare text files you want to always be normalized and converted
	# to LF in repo
	*.ps1 text eol=lf
	*.md text eol=lf
	*.html text eol=lf

	# Declare binary files to avoid any modifications.
	*.png binary
	*.jpg binary
	*.gif binary